<a href="https://colab.research.google.com/github/prabhkaur301/Heart-Disease-prediction/blob/main/Heart_disease_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Important Reference Links:-


* [Guide to statistical description (data.decsribe() method)](https://towardsdatascience.com/how-do-we-describe-data-9ce688943c8e)
*  [Linear Regression](https://machinelearningmastery.com/linear-regression-for-machine-learning/)

Importing the dependencies 


*   numpy is used to handle the multidimensional arrays
*   pandas is used to handle the data in the form of dataframes(structured data)
*   train_test.split is used to split the data in two different datasets , one is for training the model and other for testing .
*   Logistic Regression is the model in which we fetch the data for training. We used this model because it is apt for binary classification . In this case, We have two option either heart diseased or not.
*   accuracy_score is used to test how well our model is working.

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Data collection & Data Pre-processing

In [ ]:
## loading csv data into pandas dataframe
raw_data=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Heart disease prediction/heart.csv')

In [ ]:
## printing the data
raw_data.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [ ]:
## getting the number of rows and columns
raw_data.shape

(303, 14)

In [ ]:
## getting the detailed information about dataset
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [ ]:
## checking for null values
raw_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [ ]:
## getting detailed statistical information about the dataset
raw_data.describe()

              age         sex          cp  ...          ca        thal      target
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  ...    0.729373    2.313531    0.544554
std      9.082101    0.466011    1.032052  ...    1.022606    0.612277    0.498835
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     47.500000    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%     55.000000    1.000000    1.000000  ...    0.000000    2.000000    1.000000
75%     61.000000    1.000000    2.000000  ...    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]

In [ ]:
## checking the distribution of target column ( How many are suffereing from heart disease and how many are not)
raw_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

0 --> Represents non defective heart 

---
1 --> Represents defective heart

Checking how many values in Target column are of the type Int

In [ ]:
raw_data['target'].map(type) == int

0      True
1      True
2      True
3      True
4      True
       ...
298    True
299    True
300    True
301    True
302    True
Name: target, Length: 303, dtype: bool

Splitting the Target & Features as two seperate variables X and Y

In [ ]:
## splitting the columns in two diffrent variables
X=raw_data.drop(columns='target', axis=1)
Y=raw_data['target']

In [ ]:
print(X)
print(Y)

     age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
0     63    1   3       145   233  ...      0      2.3      0   0     1
1     37    1   2       130   250  ...      0      3.5      0   0     2
2     41    0   1       130   204  ...      0      1.4      2   0     2
3     56    1   1       120   236  ...      0      0.8      2   0     2
4     57    0   0       120   354  ...      1      0.6      2   0     2
..   ...  ...  ..       ...   ...  ...    ...      ...    ...  ..   ...
298   57    0   0       140   241  ...      1      0.2      1   0     3
299   45    1   3       110   264  ...      0      1.2      1   0     3
300   68    1   0       144   193  ...      0      3.4      1   2     3
301   57    1   0       130   131  ...      1      1.2      1   1     3
302   57    0   1       130   236  ...      0      0.0      1   1     2

[303 rows x 13 columns]
0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

Splitting the dataframe into two groups ( Training & Testing)

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [ ]:
print(X.shape,X_train.shape,X_test.shape)

(303, 13) (242, 13) (61, 13)

In [ ]:
print(Y.shape,Y_train.shape,Y_test.shape)

(303,) (242,) (61,)

Training the Model 
We are choosing Logistic Regression model for training the dataset as it is good for binary classification.

[Detailed Explanation](https://towardsdatascience.com/logistic-regression-detailed-overview-46c4da4303bc)

In [ ]:
model=LogisticRegression()

In [ ]:
model.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

Evaluation of Model

In [ ]:
# Evaluation of Model using accuracy_score function from sklearn library

## accuracy score on training data
training_prediction=model.predict(X_train)
training_accuracy_score=accuracy_score(training_prediction,Y_train)

In [ ]:
print(training_accuracy_score)

0.8512396694214877

In [ ]:
## accuracy score on testing data
testing_prediction=model.predict(X_test)
testing_accuracy_score=accuracy_score(testing_prediction,Y_test)

In [ ]:
print(testing_accuracy_score)

0.819672131147541

Here we have little difference in the accuracy score of training and testing data . So we can say that model is trained well . It is not over-fitted

### Predictive System

In [ ]:
# Taking the input from user 64,1,3,110,211,0,0,144,1,1.8,1,0,2,1
print("Please enter the following detail")
input_data=(int(input("Age:-\n")),
            int(input("Gender:-\n0 for Female \n1 for male")),
            int(input("Chest Pain measurefrom 0-4\n0-->No Pain 4--> Severe pain:-\n")),
            int(input("Resting Blood Pressure value:-\n")),
            int(input("Cholestrol Value:-\n")),
            int(input("Fasting Blood Sugar:-\n")),
            int(input("Rest ECG:-\n")),
            int(input("Max Heart Rate:-\n")),
            int(input("Exercised induced Agina:-\n")),
            float(input("ST Depression:-\n")),
            int(input("The slope of the peak exercise ST segment:-\n")),
            int(input("Number of major vessels (0-3) colored by flourosopy:-\n")),
            int(input("Thalessemia Value:- \n thal: 3 = normal; 6 = fixed defect; 7 = reversable defect\n"))
            )

Please enter the following detail
Age:-
64
Gender:-
0 for Female
1 for male1
Chest Pain measurefrom 0-4
0-->No Pain 4--> Severe pain:-
3
Resting Blood Pressure value:-
110
Cholestrol Value:-
211
Fasting Blood Sugar:-
0
Rest ECG:-
0
Max Heart Rate:-
144
Exercised induced Agina:-
1
ST Depression:-
2
The slope of the peak exercise ST segment:-
1
Number of major vessels (0-3) colored by flourosopy:-
0
Thalessemia Value:-
 thal: 3 = normal; 6 = fixed defect; 7 = reversable defect
2

In [ ]:
print(input_data)

(64, 1, 3, 110, 211, 0, 0, 144, 1, 2.0, 1, 0, 2)

In [ ]:
 input_data_as_numpy= np.asarray(input_data)

In [ ]:
input_data_reshaped=input_data_as_numpy.reshape(1,-1)
prediction=model.predict(input_data_reshaped)
print(prediction)
if(prediction[0]==0):
    print("The person's heart is healthy :)")
else:
    print("The person is suffering from heart disease :(")

[1]
The person is suffering from heart disease :(

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"